Name=sub
Type=sub
IndexType=sub
HasComment=condition
Comment=msub
IsDynamic=condition
||
|IF HasComment|

|REPEAT Comment|
    // |'Comment'|
|ENDREPEAT Comment|
|ENDIF HasComment|
    property |name|[AIndex: |IndexType|]: |Type| read Get|Name| write Set|Name|;
|IF IsDynamic|
    property |name|Count: Integer read Get|Name|Count;
|ENDIF IsDynamic|
