Name=sub
Type=sub
HasComment=condition
Comment=msub
||
|IF HasComment|

|REPEAT Comment|
    // |Comment|
|ENDREPEAT Comment|
|ENDIF HasComment|
    property |name|: |Type| read F|Name| write Set|Name|;
