Name=sub
Type=sub
IndexType=sub
IsDynamic=condition
IsString=condition
||
|IF IsDynamic|
  SetLength(F|Name|, AStream.ReadDWord);
|ENDIF IsDynamic|
|IF IsString|
  for i := Ord(Low(F|Name|)) to Ord(High(F|Name|)) do
    F|Name|[|IndexType|(i)] := AStream.ReadAnsiString;
|ELSE IsString|
  AStream.ReadBuffer(F|Name|[Low(F|Name|)], (Ord(High(F|Name|))-Ord(Low(F|Name|)) + 1)*sizeof(|Type|));
|ENDIF IsString|