TEMPLATE_MEMBERVAR_SIMPLE           RCDATA "templates/membervar_simple.template"
TEMPLATE_SETPROPERTY_SIMPLE_DECL    RCDATA "templates/setproperty_simple_decl.template"
TEMPLATE_PROPERTY_SIMPLE            RCDATA "templates/property_simple.template"
TEMPLATE_RESTORE_YAML_VARS          RCDATA "templates/restore_yaml_vars.template"
TEMPLATE_RESTORE_VARS               RCDATA "templates/restore_vars.template"
TEMPLATE_SAVE_VARS                  RCDATA "templates/save_vars.template"
TEMPLATE_SAVE_YAML_VARS             RCDATA "templates/save_yaml_vars.template"
TEMPLATE_SETPROPERTY_SIMPLE         RCDATA "templates/setproperty_simple.template"
