TEMPLATE_MEMBERVAR_SIMPLE           RCDATA "templates/membervar_simple.template"
TEMPLATE_MEMBERVAR_DYNAMIC          RCDATA "templates/membervar_dynamic.template"
TEMPLATE_MEMBERVAR_ARRAY            RCDATA "templates/membervar_array.template"
TEMPLATE_GETPROPERTY_ARRAY_DECL     RCDATA "templates/getproperty_array_decl.template"
TEMPLATE_GETPROPERTY_SIMPLE_DECL    RCDATA "templates/getproperty_simple_decl.template"
TEMPLATE_SETPROPERTY_SIMPLE_DECL    RCDATA "templates/setproperty_simple_decl.template"
TEMPLATE_SETPROPERTY_ARRAY_DECL     RCDATA "templates/setproperty_array_decl.template"
TEMPLATE_PUBLIC_DECL                RCDATA "templates/public_decl.template"
TEMPLATE_PROPERTY_SIMPLE            RCDATA "templates/property_simple.template"
TEMPLATE_PROPERTY_OBJECT            RCDATA "templates/property_object.template"
TEMPLATE_PROPERTY_ARRAY             RCDATA "templates/property_array.template"
TEMPLATE_RESTORE_YAML_VARS          RCDATA "templates/restore_yaml_vars.template"
TEMPLATE_RESTORE_YAML_VARS_OBJECT   RCDATA "templates/restore_yaml_vars_object.template"
TEMPLATE_RESTORE_YAML_VARS_ARRAY    RCDATA "templates/restore_yaml_vars_array.template"
TEMPLATE_RESTORE_VARS               RCDATA "templates/restore_vars.template"
TEMPLATE_RESTORE_VARS_ARRAY         RCDATA "templates/restore_vars_array.template"
TEMPLATE_SAVE_VARS                  RCDATA "templates/save_vars.template"
TEMPLATE_SAVE_VARS_ARRAY            RCDATA "templates/save_vars_array.template"
TEMPLATE_SAVE_YAML_VARS             RCDATA "templates/save_yaml_vars.template"
TEMPLATE_SAVE_YAML_VARS_OBJECT      RCDATA "templates/save_yaml_vars_object.template"
TEMPLATE_SAVE_YAML_VARS_ARRAY       RCDATA "templates/save_yaml_vars_array.template"
TEMPLATE_CREATE                     RCDATA "templates/create.template"
TEMPLATE_DESTROY                    RCDATA "templates/destroy.template"
TEMPLATE_GETSET_METHODS             RCDATA "templates/getset_methods.template"
TEMPLATE_NEW_CLASS                  RCDATA "templates/newclass.template"

